body {
     background-image: url("Polygon\ Luminary.svg");
    font-family: Serif;
    min-height: 100vh;
    transform: scale(1.5);
    transform-origin: 0 0;
    overflow: hidden;
  }
  .center {
    width: 100%;
    color: black;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 0%;

  }
  .center-m-b {
    width: 100%;
    color: black;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 0%;

  }
  .float-container {
    display: flex;
    position: calc();
    font-size: 30px;
    width: 100%;
    height: 50%;
  }
  .chart {
    width: 50%;
    height: 700px;
  }

  .user-float-cont {
    display: flex;
    text-align: center;
    position: calc();
    font-size: 25px;
    width: 100%;
    height: 50%;
  }
  .announce {
    width: 100%;
    color: black;
    padding-top: 10%;
    padding-left: 25%;
    padding-right: 25%;

  }
  .ann-cont {
    display: flex;
    text-align: center;
    position: calc();
    font-size: 25px;
    width: 100%;
    height: 50%;
  }
  .card {
    width: 25rem;
  }
  .jumbotron {
    font-size: 40px;
  }
  @media only screen and (min-width: 400px) {
    body {
        transform: scale(1);
        transform-origin: 0 0;
    }
    .center {
      padding-left: 5%;
      padding-right: 5%;
    }
    .center-m-b {
      padding-left: 5%;
      padding-right: 5%;
    }
    .float-container {
      font-size: 24px;
    }
    .user-float-cont {
      font-size: 24px;
    }
  }
  @media only screen and (min-width: 2000px) {
    body {
        transform: scale(1.5);
        transform-origin: 0 0;
    }
    .center {
      padding-left: 2%;
      padding-right: 2%;
    }
    .center-m-b {
      padding-left: 2%;
      padding-right: 2%;
    }
    .float-container {
      font-size: 28px;
    }
    .user-float-cont {
      font-size: 28px;
    }
    .card {
      width: 35rem;
    }
    .chart {
      width: 35%;
      height: 800px;
    }
  }